*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4FFF8;
    font-family: 'Inter', sans-serif;
    font-display: swap;
    color: #161616;
    line-height: 1.6;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #F4FFF8;
    font-family: "BBH Sans Bogle", sans-serif;
    font-display: swap;
    z-index: 1000;
    position: sticky;
    top: 0;
}
.logo{
   background-image: url('../IMG/Viajarte_logo.svg');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   width: 150px;
   height: 60px;
}
.bars{
    display: none;
    font-size: 28px;
    cursor: pointer;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar li a{
    text-decoration: none;
    color: #F4FFF8;
    background-color: #F4D109;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 0 5px;
    transition: 0.3s;
}
.nav-bar li a:hover{
    color: #F4FFF8;
    background-color: #145C9E;
}
.nav-bar li a.active{
    background-color: #145C9E;
    color: #F4FFF8;
}
/*principal section*/
.principal-section{
    background-image: url('../IMG/slide.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px auto;
    border-radius: 25px;
}
.search-card{
    width: 90%;
    max-width: 700px;
    background-color: #F4FFF8BF;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25rem;
    padding: 20px;
    gap: 15px;
    margin: 2rem auto;
}
.principal-group{
    flex: 1 1 150px;
    min-width: 150px;
}
.principal-group label{
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}
.principal-group input{
    border: none;
    border-bottom: 2px solid #145C9E;
    outline: none;
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
    padding: 8px;
}
.search-btn{
    width: 60px;
    height: 60px;
    background-color: #145C9E;
    border: none;
    border-radius: 50%;
    color: #F4FFF8;
    cursor: pointer;
    transition: transform 0.3s background-color 0.3s;
}
.search-btn:hover{
    background-color: #F4D109;
    transform: scale(1.1);
}
/* travel section */
.travel-section{
    text-align: center;
    padding: 40px 20px;
}
.header-content h1{
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: "BBH Sans Bogle", sans-serif;
    font-weight: 400;
}
.yellow-text{
    color: #F4D109;
}
.blue-text{
    color: #145C9E;
}
.travel-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}
.card{
    position: relative;
    width: 200px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.05);
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.country-badge{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #F4FFF8B3;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: 600;
}
.card-footer{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: #F4FFF8BF;
    padding: 10px 15px;
    border-radius: 20px;
    width: 80%;
}
.rating{
    margin-bottom: 2.5px;
}
.action-bar .save-btn{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
/*TRIPS PAGE*/
/*Principal trips*/
.principal-trips{
    background-image: url('../IMG/slide-trips.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px auto;
    border-radius: 25px;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    background-color: #F4FFF8;
    border-radius: 50px;
    padding: 10px 20px;
    width: 80%;
    max-width: 700px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.search-bar input{
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    outline: none;
}
.s-button{
    background-color: #145C9E;
    border: none;
    border-radius: 50%;
    color: #F4FFF8;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.destinations{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}