*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #F4FFF8;
}
header{
    width: 100%;
    height: 80px;
    background-color: #F4FFF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-family: "BBH Sans Bogle", sans-serif;
}
.logo{
   background-image: url('../IMG/Viajarte_logo.svg');
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
   height: 120px;
   margin-left: -65px;
   margin-top: 25px;
}
.bars{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: #F4FFF8;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 50px;
    transition: 0.3s ease ;
    margin: 0 10px;
    background-color: #F4D109;
    width: 140px;
}
.nav-bar ul li a:hover{
    color: bisque;
    background-color: #145C9E;
}
.nav-bar ul li a.active{
    color: #145C9E;
    background-color: #F4FFF8;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 2px 0 25px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
/*principal section*/
.principal-section{
    background-image: url('../IMG/slide.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 78.2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;
    position: relative;
    margin: 0 55px;
    border-radius: 25px;
}
.search-card{
    width: 100%;
    height: 30%;
    max-width: 700px;
    background-color: #F4FFF8BF;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    margin-top: 25rem;
    padding: 50px;
    z-index: 10;
}
.principal-group{
    flex-grow: 1;
    padding: 0 15px;
}
.principal-group label{
    font-family: "Inter", sans-serif;
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #161616;
    margin-bottom: 5px;
}
.principal-group input{
    font-family: "Inter", sans-serif;
    border: none;
    outline: none;
    width: 100%;
    font-size: 11px;
    font-weight:600;
    color: #161616;
    background-color: transparent;
    padding: 5px 0;
}
.separator{
    width: 3.5px;
    height: 55px;
    background-color: #145C9EB3;
}
.search-btn{
    width: 70px;
    height: 70px;
    background-color: #145C9E;
    border: none;
    border-radius: 50%;
    color: #F4FFF8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 20px;
}
/* travel section */
.travel-section{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: space-around;
    padding: 20px 50px;
    width: 100%;
}
.header-content h1{
    font-size: 65px;
    font-family: "BBH Sans Bogle", sans-serif;
    font-weight: 400;
    line-height: 1.1;
    margin-right: 15px;
    padding-right: 15px;
}
.yellow-text{
    color: #F4D109;
}
.blue-text{
    color: #145C9E;
}
.travel-cards{
    display: flex;
    gap: 45px;
    margin-left: 85px;
}
.card{
    position: relative;
    width: 190px;
    height: 250px;
    border-radius: 45px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.country-badge{
    position: absolute;
    width: 50%;
    height: 40px;
    top: 20px;
    right: 15px;
    background-color: #F4FFF8BF;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #161616;
    text-align: right;
}
.card-footer{
    position: absolute;
    bottom: 20px;
    left: 5px;
    top: 250;
    right: 0;
    width: 180px;
    height: 80px;
    background: #F4FFF8BF;
    color: #161616;
    padding: 15px;
    text-align: center;
    border-radius: 50px;
}
.card-footer h3{
    font-family: "Inter", sans-serif;
    margin: 0 0 5px 0;
    font-size: 15px;
}
.rating{
    margin-bottom: 2.5px;
}
.action-bar .save-btn{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
@media(max-width: 900px){
    header{
        padding: 0px 10px;
    }
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        height: 3px;
        background-color: #145C9E;
        margin: 6px 0px;
    }
    .nav-bar{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: rgb(196, 205, 255);
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 20px;
    }
    /*Principal Section*/
    .principal-section{
        height: 40vh;
        width: 25rem;
        border-radius: 15px;
        padding-bottom: 20px;
        margin: 10px 5px;
    }
    .search-card{
        height: 90%;
        flex-direction: column;
        align-items: stretch;
        padding: 15px;
        width: 300px;
    }
    .principal-group{
       padding: 10px 0;
       border-bottom: 1px solid #145C9E;
    }
    .principal-group label{
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
    }
    .principal-group input{
        font-size: 14px;
        padding: 8px 0;
    }
    .separator{
        display: none;
    }
    .search-btn{
        width: 50px;
        height: 50px;
        margin: 15px auto 0;
    }
    /*Travels section*/
    .header-content h1{
        font-size: 45px;
    }
    .travel-section{
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content: space-around;
        padding: 50px;
        width: 100%;
    }
    .travel-cards{
        flex-direction: column;
    }
    .card{
        width: 340px;
        max-width: 300px;
        height: 400px;
    }
    .card-footer{
        width: 90%;
        padding: 10px;
        border-radius: 50px;
        left: 15px;
    }
    .card-footer h3{
        font-size: 20px;
    }
}